# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Java
**/target/
*.class

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env and secrets
.env
.env.*
!.env.example
*.pem
*.key

# Terraform local state
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
terraform.tfvars
.terraform.lock.hcl

# LocalStack volume
volume/

# Logs
*.log

# Test outputs
test_results*.txt
*_results.txt
*_output.txt
pytest_out.txt

# Scripts locais desnecessários
*.ps1
